<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="personEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MARK-PC;initial catalog=person;persist security info=True;user id=sa;password=root;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MyWpfApplication.Properties.Settings.localConnection"
      connectionString="Data Source=MARK-PC;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>